.footer{
      padding: 60px;
      padding-bottom: 30px;
      background: var(--primary-color);
}

.footer__text {
    line-height: 30px;
    color: #b1aaaa;
}

.footer__quick-link ul li{
    background: transparent !important;
}

.footer__quick-link ul li a {
     color: #b1aaaa;
  
}

.quick__links-title {
    margin-bottom: 20px;
    color: #fff;
    font-size:1.1rem ;
}

.footer__contact li {
    color: #b1aaaa;
}